DATABASE_HOST="127.0.0.1"
DATABASE_PORT=3306
DATABASE_USER="root"
DATABASE_NAME="myquiz_db" 
DATABASE_PASSWORD="a sua senha mysql"


# Chave de API para o gerador de imagens de fundo (API-Ninjas)
# Podes obter uma chave gratuita em: https://api-ninjas.com/
#ou usar temporariamente a chave fornecida no readme do projeto
VITE_API_NINJAS_KEY=insere_aqui_a_tua_chave_da_api_ninjas