node_modules/
.env
.env.production
BKP/
FILES/
src-backup/
frontend/
Construçao_README.docx
esquema.docx
myquiz_postgre.sql
myquiz_db.sql
package-lock copy.json
package-lock.json
postcss.config.js
readme_config_server.txt
readme.txt.txt
resumo_passos.txt
REQUISITOS_PROJECTO.docx
REQUISITOS_PROJETO_FINAL.md
myqui_postgre.sql
src - Backup
to_do_U03814.docx
serverBAK.js
teste.sql
vite.config copy.js
