node_modules/
.env
.env.production
BKP/
FILES/
files/database.md
src-backup/
frontend/
Construçao_README.docx
esquema.docx
myquiz_postgre.sql
registos.sql
package-lock copy.json
package-lock.json
postcss.config.js
readme_config_server.txt
readme.txt.txt
resumo_passos.txt
REQUISITOS_PROJECTO.docx
REQUISITOS_PROJETO_FINAL.md
src - Backup
to_do_U03814.docx
serverBAK.js
teste.sql
vite.config copy.js
registos.sql
manual_do_projecto/
quick_launch.md
quick_launch.md
readme_github.md